<div class="container-fluid">
  <header
    class="d-flex flex-wrap align-items-center justify-content-around py-3 mb-4"
  >
    <a
      href="/dashboard"
      class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none fw-bold fs-2"
    >
      <svg
        class="bi me-2"
        width="40"
        height="32"
        id="logo-35"
        width="50"
        height="39"
        viewBox="0 0 50 39"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.4992 2H37.5808L22.0816 24.9729H1L16.4992 2Z"
          class="ccompli1"
          fill="#007AFF"
        ></path>
        <path
          d="M17.4224 27.102L11.4192 36H33.5008L49 13.0271H32.7024L23.2064 27.102H17.4224Z"
          class="ccustom"
          fill="#312ECB"
        ></path>
        <use xlink:href="#boostrap"></use>
      </svg>

      <span class="fs-4"> NotR </span>
    </a>

    <div class="col-md-3 text-end">
      <a href="/logout" type="button" class="btn btn-outline-primary">Logout</a>
    </div>
  </header>
</div>
