<div class="container-fluid">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom align-items-center"
    style="background-color: #e5e5e5; border-bottom: 1px solid #e5e5e5"
  >
    <svg id="stroke" xmlns="http://www.w3.org/2000/svg" width="0" height="0">
      <defs>
        <path
          id="line"
          d="M2 2c49.7 2.6 100 3.1 150 1.7-46.5 2-93 4.4-139.2 7.3 45.2-1.5 90.6-1.8 135.8-.6"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          vector-effect="non-scaling-stroke"
        />
      </defs>
    </svg>
    <a
      href="/"
      class="home-btn d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none fw-bold fs-2"
    >
      <svg
        class="bi me-2"
        width="40"
        height="32"
        id="logo-35"
        width="50"
        height="39"
        viewBox="0 0 50 39"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.4992 2H37.5808L22.0816 24.9729H1L16.4992 2Z"
          class="ccompli1"
          fill="#007AFF"
        ></path>
        <path
          d="M17.4224 27.102L11.4192 36H33.5008L49 13.0271H32.7024L23.2064 27.102H17.4224Z"
          class="ccustom"
          fill="#312ECB"
        ></path>
        <use xlink:href="#boostrap"></use>
      </svg>

      <span
        class="fs-2 fw-bold text-secondary text-decoration-none fst-italic"
        style="font-family: 'Space Grotesk', sans-serif"
      >
        notR
      </span>
      <svg class="button-stroke" viewBox="0 0 154 13">
        <use href="#line"></use>
      </svg>
      <svg class="button-stroke" viewBox="0 0 154 13">
        <use href="#line"></use>
      </svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a href="/features" class="nav-link px-2 fs-5 link-dark">Features</a>
      </li>
      <li><a href="#" class="nav-link px-2 fs-5 link-dark">FAQs</a></li>
      <li><a href="/about" class="nav-link px-2 fs-5 link-dark">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <a href="/auth/google" type="button" class="btn btn-outline-primary me-2">
        Login</a
      >
      <a href="/auth/google" type="button" class="btn btn-primary">Sign-up</a>
    </div>
  </header>
</div>
