<div class="container-fluid container-fluid-custom">
  <h1
    class="text-center"
    style="
      font-size: 3rem;
      font-weight: 700;
      margin-top: 2rem;
      margin-bottom: 2rem;
    "
  >
    About NotR
  </h1>

  <div
    class="container container-custom container-custom-about text-justify text-justify-custom text-justify-custom-about"
    style="font-size: 1.2rem; font-weight: 400; margin-bottom: 2rem"
  >
    <p>
      Welcome to Notr, the ultimate note-taking website designed to help you
      capture and organize your thoughts, ideas, and notes seamlessly. At Notr,
      we understand the importance of note-taking and the role it plays in
      personal and professional growth. That's why we've created a platform that
      makes note-taking simple, efficient, and enjoyable.
    </p>

    <p>
      In today's fast-paced world, we are constantly bombarded with information
      from various sources. From meetings to lectures, to research articles, and
      personal ideas, it can be overwhelming to keep track of everything. That's
      where Notr comes in. Our platform provides a centralized location for all
      your notes, making it easy to access and refer to them at any time.
    </p>

    <p>
      Notr is a one-stop-shop for all your note-taking needs. With our
      user-friendly interface, you can create, edit, and organize your notes in
      a few simple clicks. Whether you would prefer to type, draw, or dictate
      your notes, Notr hopes to support various formats like those preference in
      the near future. We also plan to offer top level features such as tags,
      folders, and search functionality to help you categorize and find your
      notes quickly.
    </p>

    <p>
      But why choose Notr over other note-taking services out there? The answer
      is simple. Notr is not just a note-taking platform; it's a community of
      like-minded individuals who understand the importance of lifelong learning
      and growth.
    </p>

    <p>
      Our platfom will allow you to create, edit, and delete notes. You can also
      create, edit, and delete notebooks. Another alternative we are looking to
      implement is an option to also share your notes with other users.
    </p>

    <p>
      Notr is a work in progress. We are constantly working to improve our
      platform and add new features. If you have any suggestions or feedback,
      please feel free to contact us at
      <a href="mailto:trillionclues@gmail.com">@Trillionclues</a>
    </p>

    <p>
      We hope you enjoy using Notr as much as we enjoy creating it. Happy
      note-taking!
    </p>

    <p>
      <strong>&copy; Notr Team</strong>
    </p>

    <p>
      <strong> Disclaimer: </strong> This website is for educational purposes
      only. We do not store any of your personal information.
    </p>
  </div>
</div>
