<div class="container d-flex flex-column justify-content-center">
  <h1>Features</h1>
  <p>
    Write your thoughts down as they come to you. NotR is a simple yet powerful
    free note-taking tool made with &#9829; by Trillionclues and the
    <a href="">
      <strong>NotR team</strong>
    </a>
  </p>

  <div class="row justify-content-center align-content-center mt-2 g-lg-3">
    <div class="col-sm-3 mb-4 col-md-6 col-lg-4 d-flex flex-column">
      <h4
        class="mb-2"
        style="
          background-color: #f8f9fa;
          border-radius: 0.25rem;
          padding: 0.5rem;
        "
      >
        Features
      </h4>

      <ul
        class="list-group list-group-flush list-unstyled"
        style="background-color: transparent; border: none"
      >
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Landing page
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Google Auth
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Notes Search
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Pagination
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Delete Notes
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Update Notes
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          View Notes
        </li>
      </ul>
    </div>

    <div class="col-sm-3 mb-4">
      <h4
        class="mb-2"
        style="
          background-color: #f8f9fa;
          border-radius: 0.25rem;
          padding: 0.5rem;
        "
      >
        Tech Stark
      </h4>

      <ul
        class="list-group list-group-flush"
        style="background-color: transparent"
      >
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          HTML5
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          NodeJs
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Express
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          EJS
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          MongoDB
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Boostrap5
        </li>
      </ul>
    </div>

    <div class="col-sm-3 mb-4">
      <h4
        class="mb-2"
        style="
          background-color: #f8f9fa;
          border-radius: 0.25rem;
          padding: 0.5rem;
        "
      >
        Dependencies used
      </h4>

      <ul
        class="list-group list-group-flush"
        style="background-color: transparent"
      >
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          ConnectMongo(4.6.0)
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Dotenv(16.0.3)
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          EJS (3.1.8)
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Express Ejs Layouts (2.5.1)
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Express Sessions (1.17.3)
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Method Override (3.0.0)
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Moongoose (7.0.1)
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Passport JS (0.6.0)
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          PassportJS Google Auth20 (2.0.0)
        </li>
        <li
          class="list-group-item"
          style="background-color: transparent; border: none"
        >
          Nodemon (2.0.21)
        </li>
      </ul>
    </div>
  </div>
</div>
