<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative home-title">
          <i class="bi bi-journal-text"></i>
          Write your thoughts down as they come...
        </h1>
        <p class="fs-4 mb-4">
          A simple app to help you keep track of your thoughts and ideas.
        </p>
        <a href="/auth/google" class="btn btn-primary btn-lg">
          <i class="bi bi-google" style="font-size: 1.5rem; line-height: 1"></i>
          Sign in with Google
        </a>
      </div>
    </div>
  </main>
</div>
